@using MvcCv.Models.Entity
@model List<TblInterest>

<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">HOBILERİM</h2>
        @foreach (var item in Model)
        {
            <p>@item.Description</p>
            <p class="mb-0">@item.Description2</p>
        }

    </div>
</section>
