@model List<MvcCv.Models.Entity.TblSkill>


<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Yeteneklerim</h2>
        <div class="subheading mb-3">Programlamlama Dilleri </div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
            <li class="list-inline-item"><i class="fab fa-php"></i></li>
            <li class="list-inline-item"><i class="fab f></i></li>

        </ul>
        <div class="subheading mb-3">Becerileri</div>
        <ul class="fa-ul mb-0">
            @foreach (var item in Model)
            {
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                @item.SkillName
                </li>
            }

        </ul>
    </div>
</section>
