
@{
    ViewBag.Title = "AdminAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Admin eklme Sayfası</h2>
<form class="form-group" method="post">
    <label>Kullanıcı Adı</label>
    <input type="text" class="form-control" name="UserName" />
    <br />
    <label>Şifre</label>
    <input type="password" class="form-control" name="Password" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>



