@using MvcCv.Models.Entity
@model List<TblAbout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Hakkımda Düzenleme Sayfası</h2>
<form method="post">
    @foreach (var item in Model)
    {
        <label>Ad</label>
        <input type="text" class="form-control" name="Name" value="@item.Name" />
        <br />
        <label>Soyad</label>
        <input type="text" class="form-control" name="Surname" value=@item.Surname />
        <br />
        <label>Adres</label>
        <input type="text" class="form-control" name="Adress" value=@item.Adress />
        <br />
        <label>Telefon</label>
        <input type="text" class="form-control" name="Phone" value=@item.Phone />
        <br />
        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" value=@item.Mail />
        <br />
        @*<label>Resim</label>
        <input type="text" class="form-control" name="ImageURL" value=@item.ImageURL />
        <br />*@
        <label>Açıklama</label>
        <textarea class="form-control" name="Description">@item.Description</textarea>
    }
    <br />
    <button class="btn btn-success"> Güncelle</button>
</form>